html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font: 16px/1.5 'rubiklight', sans-serif;
    color: #455a63;
    background-color:  #ffffff;
    min-width: 320px;
}

.img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    display: block;
    height: auto;
    border-radius: 5px;
}

p, ul, ol {
    margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 0 0 .5em;
}

h1 {
    font-size: 44px;
    font-weight: 500;
    color: #282b2f;
    line-height: 1.23;
    margin-bottom: 30px;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.06;
    color: #282b2f;
    margin-bottom: 30px;
}

h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.36;
    color: #282b2f;
    margin-bottom: 30px;
}

h4 {
    font-size: 22px;
    color: #546e7a;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 25px;
    margin-top: 25px;

}

h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    color: #282b2f;
    margin-bottom: 30px;
}

h6 {
    font-size: 14px;
}

a {
    color: #1976d2;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

